.off {
    color: #888;
}

a:visited {
    color: #00e;
}

.nottile {
    border: none;
    position: relative;
    display: inline;
}

.nottile a {
    /*margin: -0.75px;*/
    border: none;
    text-decoration: none;
    color: #000;
    /*background-color: #ffffff;*/
}

.tile {
    border: 1px solid black;
    margin: -0.75px;
    /*background-color: #fff;*/
    background-color: #D0E2E7;
    display: inline-block;
}

.tile a {
    text-decoration: none;
}

.return {
    background-color: #8fd9fb;
    font-weight: normal;
}

.return a {
    color: #000;
}

.under {
    z-index: -1;
}

.empty {
    position: relative;
}

.newtile {
    background-color: #ffc300;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    position: absolute;
    top: -0.75px;
    left: -0.75px;
    z-index: 5;
    margin: -1.5px;
}

.newtile a {
    color: #000;
}

.oldtile {
    background-color: #ffe131;
    z-index: 1;
}

.last {
    background-color: #fff375;
}

.selected {
    background-color: #ff9d00;
}

.bonus a {
    color: #fff;
}

/*.tw {
    background-color: #ffd988;
}

.tl {
    background-color: #88ff88;
}

.dw {
    background-color: #ffa08c;
}

.dl {
    background-color: #88b0ff;
}*/

.tw a {
    background-color: #ff9331;
}

.tl a {
    background-color: #15ea00;
}

.dw a {
    background-color: #ff493f;
}

.dl a {
    background-color: #315cff;
}

.center {
    background-color: #ff64fd;
}

.droppy a {
    background-color: #5a9bad;
}

input[type="radio"].pos + label {
    color: #00e;
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
}

input[type="radio"].pos:checked + label {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

input[type="radio"].pos {
    display: none;
}
