body {
    margin: 0;
    padding: 0;
    font-size: 170%;
    font-family: monospace;
}

a.black {
    text-decoration: none;
    color: black;
}

a.black:hover {
    text-decoration: underline;
}

a:visited {
    color: #00e;
}

a.black:visited {
    color: black;
}

#header {
    background-color: #000;
    width: 100%;
    color: white
}

#header-left {
    background-color: #000;
    display: inline;
    float: left;
    padding-left: 5px;
}

#header a {
    text-decoration: none;
    color: white;
}

#header a:hover {
    text-decoration: underline;
}

#header-right {
    float: right;
    padding-right: 5px;
}

#header-right a {
    color: white;
    font-weight: bold;
}

#header-right a.play-link {
    background-color: #ff6bf5;
    font-weight: normal;
    color: black;
}

#header-end {
    clear: both;
}

#words {
    color: white;
}

#with {
    color: #777;
}

#enemies {
    color: white;
}

#symbol {
    color: #777;
}

.content-wrapper {
    width: 100%;
    text-align: center;
}

.content {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    text-align: left;
    width: 700px;
}

a.nonlink {
    color: black;
    text-decoration: none;
}

.highlight-list {
    position: relative;
    z-index: 2;
}

.highlight-list:hover:after {
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:white;
    opacity:0.3;
    z-index:-2;
}

input {
    outline: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    border: 0px solid black;
}
input[type="text"], input[type="password"] {
    border-bottom-width: 1px;
}

input[type="text"]:hover, input[type="password"]:hover {
    background-color: #ddd;
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 0;
    cursor: pointer;
}

input[type="submit"]:hover {
    /*text-decoration: underline;*/
    background-color: #555;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    cursor: pointer;
}

input[type="checkbox"] + label:before {
    font-weight: normal;
    content: "[\a0] ";
    color: #aaa;
}

input[type="checkbox"]:checked + label:before {
    content: "[\2713] ";
    color: black;
}

input[type="checkbox"] + label:hover:before {
    color: black;
}

a.submit-button {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a.submit-button:hover {
    background-color: #ddd;
}

a.submit-button-light {
    color: #505050;
}

textarea {
    outline: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    border: 0px solid black;
    border-bottom-width: 1px;
}

textarea:hover {
    background-color: #ddd;
}

#navbar {
    background-color: #d8d8d8;
    color: #bbb;
    width: 100%;
}

#navbar-text {
    padding-left: 5px;
}

#navbar a {
    text-decoration: none;
    color: #777;
}

#navbar a:hover {
    color: #444;
}

#navbar b {
    /* this is not really b, but whatever */
    color: black;
    font-weight: normal;
}

.error {
    width: 560px;
    color: #be61ff;
    padding-left: 5px;
}

.error li {
    list-style: none;
    position: relative;
}

.error li:before {
    content: "*";
    position: absolute;
    left: -30px;
    /*top: 5px;*/
}

.definition {
    white-space: pre-line;
}
