{% include "game/header.html" %}
{% if viewable %}
</div></div>
    {% if game.someone_moved %}
        {% if your_turn %}
            <div style="background-color: {{ game.player_2.profile.fav_color }};">
                <div style="margin: auto; text-align: center;">
                    <b>{{ opponent.username }}</b>
        {% else %}
            <div style="background-color: {{ user.profile.fav_color }};">
                <div style="margin: auto; text-align: center;">
                    you
        {% endif %}
        played
        <a class="black" href="{% url "word" game.game_state.last_word|lower %}"><b>{{ game.game_state.last_word }}</b></a>
        for
        <b>{{ game.game_state.last_move_score }}</b>
        points.
                </div>
            </div>
    {% else %}
        {% if your_turn %}
            <div style="background-color: {{ user.profile.fav_color }};">
                <div style="margin: auto; text-align: center;">
                    you
        {% else %}
            <div style="background-color: {{ game.player_2.profile.fav_color }};">
                <div style="margin: auto; text-align: center;">
                    <b>{{ opponent.username }}</b>
        {% endif %}
        must make the first move!
                </div>
            </div>
    {% endif %}


<div style="text-align: center;">
    <br />
    <div id="board" style="margin:auto; min-width:250px;">
        sorry, you need javascript enabled in order to play this game!
    </div>
</div>
</div></div>
{% if not your_turn and not game.game_state.last_word_defined %}
<div style="text-align: center;">
    <div style="margin: auto; text-align: center; width: 700px;">
        <br />
        <form action="{% url "send_word" %}" method="post">
        define <a class="black" href="{% url "word" game.game_state.last_word|lower %}"><b>{{ game.game_state.last_word }}</b></a>:
                <input type="hidden" name="word" value="{{ game.game_state.last_word }}" />
                <input type="hidden" name="game_id" value="{{ game.id }}" />
                <input type="radio" name="pos" value="n." class="pos" id="pos-n" /> <label for="pos-n">n.</label>
                <input type="radio" name="pos" value="adj." class="pos" id="pos-aj" /> <label for="pos-aj">adj</label>
                <input type="radio" name="pos" value="v." class="pos" id="pos-v" /> <label for="pos-v">v.</label>
                <input type="radio" name="pos" value="adv." class="pos" id="pos-ad" /> <label for="pos-ad">adv</label>
                <br />
                <textarea name="definition"></textarea>
                <br />
                {% csrf_token %}
                <input type="submit" value=" ok " />
        </form>
    </div>
</div>
{% endif %}
<br />
<div style="width: 100%; background-color: {{ game.player_1.profile.fav_color }}">
    <div style="width: 535px; margin: auto">
        <div style="float:left;">
            {% if game.p1_turn %}&gt;{% else %}&nbsp;{% endif %}
            <a href="{% url "profile" game.player_1.username %}" class="black"><b>{{ game.player_1.username }}</b></a>
        </div>
        <div style="float:right;">{{ game.game_state.p1_score }}&nbsp;&nbsp;</div>
        <div style="clear:both;"></div>
    </div>
</div>
<div style="width: 100%; background-color: {{ game.player_2.profile.fav_color }}">
    <div style="width: 535px; margin: auto">
        <div style="float:left;">
            {% if not game.p1_turn %}&gt;{% else %}&nbsp;{% endif %}
            <a href="{% url "profile" game.player_2.username %}" class="black"><b>{{ game.player_2.username }}</b></a>
        </div>
        <div style="float:right;">{{ game.game_state.p2_score }}&nbsp;&nbsp;</div>
        <div style="clear:both;"></div>
    </div>
</div>
<div style="text-align: center;">
    <b>{{ game.game_state.draw_pile|length }}</b> tiles left in the draw pile{% if game.game_state.draw_pile|length < 10 %}!{% endif %}
</div>
{% else %}
you don't have access to view this game!<br />
<br />
why don't you try one of <a href="{% url "play" %}">your games</a> instead?
{% endif %}
{% include "game/footer.html" %}
